.lobby{
    height: 100%;
    width: 100% ;
    background-image: url("../background.jpg");
    padding-top: 2%;
    /* position: absolute; */
    text-align: center;
}
.Participants{
    margin-top: 3vh;
    height:70vh;
    background-color: rgb(255, 255, 255);
}

.Participants h2{
    text-align: center;
    font-size: 30px;
    color: crimson;
    margin-bottom: 10px;
    border-radius: 1px;
    border-color: black;
  }
  

.canvas1{
    height:77vh;
    margin-top: 0vh;
    background-color: black;
    cursor:url('../img/pen.gif') 0 40, move;
}
.canvas2{
    height:77vh;
    margin-top: 0vh;
    background-color: black;
    cursor:url('../img/rubber.gif') 0 40, move;
}
#c1{
    pointer-events: none;
}
.color-picker-container{
    margin-top:2.5vh;
}
.brushsize-container{
    margin-top:2.5vh;
}
#chat-section{
    max-height: 70vh;
    height: 70vh;
    max-width: 300px;
    margin-top:1vh;
    /* position: relative; */
    background-image: url("../chat-background.jfif");
}
#chat-section h2{
    text-align: center;
    font-size: 30px;
    color: rgb(20, 67, 220);
    margin-bottom: 10px;
  }

.Copy {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}
  
.wordButton {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
  }


  ..wordButton {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
.Video-Call button {
    background: #3548f1;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

.Skribbl {
    width: 18vw;
    height: 10vh;
    background: url("../Skribbl.jpg");
    background-size: 100% 100%;
    margin-right: 1120px;
}


  
 
